<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="COMPANY_MANAGEMENT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="COMPANY_MANAGEMENT.Properties.Settings.conn" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=DBStaff;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <COMPANY_MANAGEMENT.Properties.Settings>
            <setting name="combo" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>One</string>
                        <string>Two</string>
                        <string>Three</string>
                    </ArrayOfString>
                </value>
            </setting>
        </COMPANY_MANAGEMENT.Properties.Settings>
    </userSettings>
</configuration>
